@charset "utf-8";
/* CSS Document */
.header-user-avatar{width:36px;height:36px;display:inline-block;margin:-10px 3px;}
::selection{background:#337ab7;color:white}
.sider-right-btn_1{
	background: url(../img/fragments/bgs/rcb_trailer.jpg) no-repeat top left;
}
.sider-right-btn_2{
	background: url(../img/fragments/bgs/5201e19825bf0920045673.jpg) no-repeat top left;
}
.sider-right-btn_3{
	background:url(../img/fragments/bgs/rcb_comic.jpg) no-repeat top left;
}
.roomlistrow >div{border-bottom:dashed 1px #c5c5c5;padding-bottom:15px}
.room-vacancy{
	position:absolute;
	left:-19px;
	top:-198px;
	background-color:#eed5d5;
	color:#b84442;
	width:19px;
	font-family:Microsoft Yahei;
	text-align:center;
}
.locked{
	display:inline-block;
	text-align:center;
	width:23px;
	height:25px;
	/*background:url(../img/fragments/icon/padlock_lock_22.314176245211px_1193509_easyicon.net.png) no-repeat top left;*/
}
.locked:before{
	content:".";
	font-size:12px;
	margin-top:5px;
}
.qq-span{
	display:inline-block;
	text-align:center;
	width:15px;
	height:15px;
	background: url(../img/fragments/icon/qq15.png) no-repeat top left;
}
.wechat-span{
	display:inline-block;
	text-align:center;
	width:15px;
	height:15px;
	background:url(../img/fragments/icon/wechat15.png) no-repeat top left;
}
.douyu-span{
	display:inline-block;
	text-align:center;
	width:15px;
	height:15px;
	padding:0;
	margin-left:0;
	background: url(../img/fragments/icon/douyuTv.png) no-repeat top left;
}
.huya-span{
	display:inline-block;
	text-align:center;
	width:15px;
	height:15px;
	background: url(../img/fragments/icon/huyaTv.png) no-repeat top left;

}
.panda-span{
	display:inline-block;
	text-align:center;
	width:39px;
	height:15px;
	background: url(../img/fragments/icon/xiongmaoTv.png) no-repeat top left;
}
.zhanqi-span{
	display:inline-block;
	text-align:center;
	width:31px;
	height:15px;
	background: url(../img/fragments/icon/zhanqiTv.png) no-repeat top left;
}
.dota2-span{
	display:inline-block;
	text-align:center;
	width:15px;
	height:15px;
	background:url(../img/fragments/icon/dota215.png) no-repeat top left;
}
.steam-span{
	display:inline-block;
	text-align:center;
	width:15px;
	height:15px;
	background:url(../img/fragments/icon/steam15.png) no-repeat top left;
}
.thisQR:hover{cursor:pointer}
.thisQR .qrcodeimg{
	display:none;
	background-color:white;
	z-index:99;
}
.thisQR:hover .qrcodeimg{
	display:block;
	position:absolute;
	width:186px;
	height:186px;
	padding:1px;
	margin-top:-93px;
	margin-left:15px;
	cursor:default;
	background-color:#666;
}
.invitationcode_ipt{
	font-size:18px;
	font-weight: bold;
	text-align:center;
	letter-spacing: 2px;
}
.index-mask{
	background-color:black;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	opacity: 0.88;
	z-index: 9999;
	text-align: center;
	display: none;
}
/*boat*/
.boat{
	background-color:white;
	margin: 15px;
	margin-top:0px;
	padding:25px 0;
	border:solid rgb(211, 224, 233) 1px;
	border-radius:4px;
	z-index:0;
	position:relative;
}
.boat .dischangable-text{
	color:#4e1648;
}




footer{margin-bottom:30px;}
.writeblog-title{margin-bottom:-152px;}
.edui-editor-toolbarboxinner{background-image:none;background-color:#f1f1f1}
#edui1_toolbarboxouter{border-bottom:1px solid #d4d4d4}
.spanicon{margin-right:4px;}
.userlist-chart{height:124px;width:216px;}
.otherlogindiv{border-top:dashed 1px #999;margin-top:8px;padding-top:4px}
.qqlog{display:block;background:url(../img/fragments/icon/Connect_logo_3.png) bottom left repeat;height:24px;width:120px;margin-right:8px}
.weibolog{display:block;background:url(../img/fragments/icon/loginButton_24.png) bottom left repeat;height:24px;width:102px;margin-right:8px}
.blogpage-i-icon{color:#265a88;font-size:20px;cursor:pointer;margin-right:2px;}


.native > span[data-cate]{font-weight:700;}

/*loading动画*/
.loading{margin:0px}
.loading-cont{text-align: center;}
.loading-img{background-color:#333;margin: auto 0;}

/*myhome视图*/
.userp_info td{
	padding: 4px;
}
.userp_info td:nth-child(1) i{font-size:20px}
.userp_info td:nth-child(2){
	font-size:16px;
	font-size:14px;
	font-weight:bold;
	text-align: right;
}
/*search视图*/
.search_content-toppart{margin-bottom:10px}
.search_content-toppart i{margin-right:2px}
.search_content-toppart small font{margin-right:7px;}
.cultivation a{margin-left:16px}
.cultivation a:hover{text-decoration: none}
.cultivation i{margin-right:2px}
.per_s-leftpart li .badge{border:none}
.search_content-botpart .author{font-weight:600}
.search_content-botpart i{margin-right:5px;margin-right:2px;font-size:11px}
.search_content-botpart .icon-nan{color:#346ea1}
.search_content-botpart .icon-nvhai{color:#FF6699}
.search_content-botpart .sexuality i{font-size:16px}
.search_content-botpart span{font-size:12px;color:#666}
.search_user_container > .user_conse{padding:15px;border-bottom:solid #f1f1f1 1px;}
.heroimg_insearch{margin-right:2px;border:solid #333 1px;border-radius:2px;min-width:48px;max-width: 64px}

/*square视图*/
.lasted_title,.tournament_title{width:100%;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.community-main{padding:0px;}
.hotarticles,.lastedtarticles{margin-bottom:45px;}
.hotarticles>h4,.lastedtarticles>h4,.tournaments>h4{font-weight:600}
.topics>h4,.figures>h4{font-weight:300}
.figures img{padding:0}

/*blog视图 - comment模块*/
.comment_main{
    position: relative;
}
.arrow_icon{
    position: absolute;
    width:0;
    height:0;
    top:19px;
    left:0px;
    border-top: 8px solid transparent;
    border-right: 16px solid #ccc;
    border-bottom: 8px solid transparent;
    transition:all ease-in-out .10s;
    outline: 0;
}
.comment-textarea:focus~.arrow_icon{
    border-top: 8px solid transparent;
    border-right: 16px solid #66afe9;
    border-bottom: 8px solid transparent;
}
.comment-textarea{
    background-color:#f1f1f1;
    color:#555;
}
.comment-textarea:focus{
    background-color:white;
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.comment_shower_buttons a{
    display:inline-block;
    padding:0 35px;
    border-right:solid #eee 1px;
}
.comment_shower_buttons a.active{
    font-weight:bolder;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
    background-image: linear-gradient(to bottom,rgba(255,255,255,1) 0%,rgba(102,175,233,.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}
.reply_reminder{
    position: absolute;
    left:22px;
    top:33px;
    max-width: 10em;
}


/*bootstrap覆盖修正*/
a[class^="sider-right-btn"]{
	display:block;
	width:256px;
	height:164px;
	margin-bottom:25px;
	border-bottom: solid 2px #333;
}
.badge{border-radius:2px;margin-left:4px;border-bottom:solid #333 2px}
.label{border-radius:2px;padding-bottom:2px;}
.label-default{border-bottom:solid #333 2px}
.label-primary{border-bottom:solid #004886 2px}
.label-warning{border-bottom:solid #d87f00 2px}
.label-danger{border-bottom:solid #b8140f 2px}
.label-warning{border-bottom:solid #d87f00 2px}
.label-success{border-bottom:solid #089307 2px}
.glyphicon{top:1px;line-height:0;margin:0 6px;font-weight:200}/*iconfont采用的是两套，这是旧的一套的样式规则*/
.spanicon{margin:0 6px;}
body{font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;}
.label{font-weight:200;}
input.form-control{border-radius:1px}
.input-group-addon{border-radius:2px}
.dropdown-menu>li{margin-bottom:3px}
.pager li>a{border-radius:2px}
.pager li>a:hover{background-color: #2e6da4;color:white}
.well{background-color:#f5f5f5;background-image:none;border:solid #c3c3c3 1px;padding:15px}
.panel > .panel-heading{background-image:none;background-color:#e8e8e8}
a{cursor:pointer}
.panel-default>.panel-heading{background-image:linear-gradient(to bottom,#337ab7 0,#265a88 70%);color:white;border:#337ab7 solid 1px}
.slider-handle{background-image:linear-gradient(to bottom,#337ab7 0,#265a88 100%);border:solid 2px #eee;}
textarea.form-control{border-radius:1px}
.sidebar{border-right:solid 1px #d1d1d1}
.xw-topbar{background-color:#272b35;background-image:none;border-bottom:solid 1px black}
.navbar-fixed-top .dropdown-toggle{width:160px;text-overflow:ellipsis;overflow:hidden;white-space: nowrap;}
.navbar-brand strong{color:white}
.panel-default>.panel-heading{background-image:none;background-color:#346ea1;padding:8px 13px;}
div.alert-success{margin-top: 50px; z-index: 99; background-image: none; background-color: #c5e1ba;box-shadow: 0px -1px 5px black;color:#2d5c2d}
.btn{border-radius:3px;background-image:none;transition:background-color 0.2s;-moz-transition: background-color 0.2s;-webkit-transition: background-color 0.2s;-o-transition: background-color 0.2s;}
.btn-default{background-color:#f8f8f8;}
.btn-primary{background-color:#337ab7;}
.btn-group .btn-default.active{background-color: #e2e2e2;border-color: #adadad;}
.roomlistlock{margin-left:5px;}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{background-image:none;background-color:#e8e8e8}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{background-image:none;background-color:#4078c0}
.navbar-right .dropdown-menu{right:15px}
.dropdown button.dropdown-toggle{background-color:#337ab7;color:white}
.nav-pills>li.active>a{border-radius:1px}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{border-top:solid 2px #346ea1}
/*ng-validate*/
.ng-invalid{border-width: 1px;border-color:#d9534f;}
.validation-invalid{color:#d9534f;font-size:12px;font-weight:400;letter-spacing: 1px;}
/*轮播*/
.carousel-indicators{margin-bottom:-10px}
.carousel-indicators li{width:8px;height:8px;border-radius:0px;margin-right:12px;}
.carousel-indicators .active{width:10px;height:10px;margin-right:12px;}

